/*YIneng xia*/

/* question 1 */
#header {
  background-color: darkcyan;
  background-image: url("60931.jpg");
  color: lightsalmon;
}
/* question 2*/
#mainly {
  width: 60%;
  text-align: center;
}
#header {
  width: 60%;
  text-align: center;
}
body {
  color: lightslategrey;
}
/* question 3 */
.work1 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 10px;
}
.work2 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 10px;
}
.work3 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 10px;
}
.photo {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 10px;
}
.work history {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 10px;
}

/* question 5 */
p {
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  line-height: 1.2;
  font-size: 1.35em;
}
div {
  background-color: rgb(230, 249, 252);
}
